USE [master]
GO
/****** Object:  Database [TRABAJO_PRACTICO]    Script Date: 22/11/2023 12:02:12 ******/
CREATE DATABASE [TRABAJO_PRACTICO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TRABAJO_PRACTICO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TRABAJO_PRACTICO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TRABAJO_PRACTICO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TRABAJO_PRACTICO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TRABAJO_PRACTICO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TRABAJO_PRACTICO]
GO
/****** Object:  Table [dbo].[SESION_PARTIDA]    Script Date: 22/11/2023 12:02:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SESION_PARTIDA](
	[id] [int] NOT NULL,
	[id_usuario01] [int] NULL,
	[id_usuario02] [int] NULL,
	[inicio] [varchar](50) NULL,
	[final] [varchar](50) NULL,
 CONSTRAINT [PK_SESION_PARTIDA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SESION_USUARIO]    Script Date: 22/11/2023 12:02:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SESION_USUARIO](
	[id] [int] NOT NULL,
	[usuario_id] [int] NOT NULL,
	[inicio] [varchar](50) NOT NULL,
	[final] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SESION_USUARIO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 22/11/2023 12:02:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[id] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SESION_PARTIDA] ([id], [id_usuario01], [id_usuario02], [inicio], [final]) VALUES (1, 3, 1, N'22/11/2023 11:24:13', N'22/11/2023 11:26:15')
GO
INSERT [dbo].[SESION_USUARIO] ([id], [usuario_id], [inicio], [final]) VALUES (1, 1, N'21/11/2023 00:11:53', N'21/11/2023 00:17:40')
INSERT [dbo].[SESION_USUARIO] ([id], [usuario_id], [inicio], [final]) VALUES (2, 2, N'21/11/2023 00:17:52', N'21/11/2023 00:17:56')
GO
INSERT [dbo].[USUARIO] ([id], [nombre], [password]) VALUES (1, N'Binchu', N'123')
INSERT [dbo].[USUARIO] ([id], [nombre], [password]) VALUES (2, N'Leonel', N'1234')
INSERT [dbo].[USUARIO] ([id], [nombre], [password]) VALUES (3, N'boquita', N'777')
GO
ALTER TABLE [dbo].[SESION_PARTIDA]  WITH CHECK ADD  CONSTRAINT [FK_SESION_PARTIDA_USUARIO] FOREIGN KEY([id_usuario01])
REFERENCES [dbo].[USUARIO] ([id])
GO
ALTER TABLE [dbo].[SESION_PARTIDA] CHECK CONSTRAINT [FK_SESION_PARTIDA_USUARIO]
GO
ALTER TABLE [dbo].[SESION_PARTIDA]  WITH CHECK ADD  CONSTRAINT [FK_SESION_PARTIDA_USUARIO1] FOREIGN KEY([id_usuario02])
REFERENCES [dbo].[USUARIO] ([id])
GO
ALTER TABLE [dbo].[SESION_PARTIDA] CHECK CONSTRAINT [FK_SESION_PARTIDA_USUARIO1]
GO
ALTER TABLE [dbo].[SESION_USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_SESION_USUARIO_USUARIO] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[USUARIO] ([id])
GO
ALTER TABLE [dbo].[SESION_USUARIO] CHECK CONSTRAINT [FK_SESION_USUARIO_USUARIO]
GO
/****** Object:  StoredProcedure [dbo].[SESION_PARTIDA_ALTA]    Script Date: 22/11/2023 12:02:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SESION_PARTIDA_ALTA]
@usuario01_id int, @usuario02_id int, @inicio varchar(50), @final varchar(50)
as
begin
	declare @id int
	set @id = (select isnull(max(id), 0) + 1 from SESION_PARTIDA)
	insert into SESION_PARTIDA values (@id, @usuario01_id, @usuario02_id, @inicio, @final)
end
GO
/****** Object:  StoredProcedure [dbo].[SESION_PARTIDA_LISTAR]    Script Date: 22/11/2023 12:02:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SESION_PARTIDA_LISTAR]
as
begin
	select * from SESION_PARTIDA
end
GO
/****** Object:  StoredProcedure [dbo].[SESION_USUARIO_ALTA]    Script Date: 22/11/2023 12:02:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SESION_USUARIO_ALTA]
@usuarioID int, @inicio varchar(50), @final varchar(50)
as
begin
	declare @id int
	set @id = (select isnull(max(id), 0) + 1 from SESION_USUARIO)
	insert into SESION_USUARIO values (@id, @usuarioID, @inicio, @final)
end
GO
/****** Object:  StoredProcedure [dbo].[SESION_USUARIO_LISTAR]    Script Date: 22/11/2023 12:02:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SESION_USUARIO_LISTAR]
as
begin
	select * from SESION_USUARIO
end
GO
/****** Object:  StoredProcedure [dbo].[USUARIO_ACTUALIZAR]    Script Date: 22/11/2023 12:02:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[USUARIO_ACTUALIZAR]
@id int, @nombre varchar(50), @password varchar(50)
as
begin
	update USUARIO
	set nombre = @nombre, password = @password
	where id = @id
end
GO
/****** Object:  StoredProcedure [dbo].[USUARIO_ALTA]    Script Date: 22/11/2023 12:02:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[USUARIO_ALTA]
@nombre varchar(50), @password varchar(50)
as
begin
	if (not exists(select 1 from USUARIO where nombre = @nombre))
	begin
		declare @id int
		set @id = (select isnull(max(id), 0) + 1 from USUARIO)
		insert into USUARIO values (@id, @nombre, @password)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[USUARIO_LISTAR]    Script Date: 22/11/2023 12:02:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[USUARIO_LISTAR]
as
begin
	select * from USUARIO
end
GO
/****** Object:  StoredProcedure [dbo].[USUARIO_OBTENER]    Script Date: 22/11/2023 12:02:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USUARIO_OBTENER]
@nombre varchar(50), @password varchar(50)
as
begin
	select *
	from USUARIO
	where nombre = @nombre and password = @password
end
GO
USE [master]
GO
